container_commands:
  01_node_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-*/bin/node | head -1` /bin/node"
  02_npm_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-*/bin/npm | head -1` /bin/npm"
  03_npm_run_prestart:
    command: "sudo npm run build"
